 {% macro item(post)%}     
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{post.title}}</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">{{post.createdAt|date}}</div>
                            <!-- Post categories-->
                        </header> 
                        <!-- Post content-->
                        <section class="mb-5">
                        
                            <p class="fs-5 mb-4">{{post.content}}</p>

                        </section>
                    </article>
    </div>
</div>
{% endmacro %}